In [2]:

!pip install pyspark  findspark wget

Requirement already satisfied: pyspark in ./.venv/lib/python3.11/site-packages (3.5.2)
Requirement already satisfied: findspark in ./.venv/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: wget in ./.venv/lib/python3.11/site-packages (3.2)
Requirement already satisfied: py4j==0.10.9.7 in ./.venv/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [3]:

import findspark

findspark.init()

In [4]:

# PySpark is the Spark API for Python. In this lab, we use PySpark to initialize the SparkContext.   

from pyspark import SparkContext, SparkConf

from pyspark.sql import SparkSession

In [5]:

# Creating a SparkContext object  

sc = SparkContext.getOrCreate()

# Creating a SparkSession  

spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

24/09/23 16:06:59 WARN Utils: Your hostname, gabriel-BOD-WXX9 resolves to a loopback address: 127.0.1.1; using 192.168.204.211 instead (on interface wlp0s20f3)
24/09/23 16:06:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/23 16:06:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/23 16:07:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/09/23 16:07:00 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [6]:

# Download the CSV data first into a local `employees.csv` file
import wget
wget.download("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/data/employees.csv")

'employees.csv'

In [11]:

from pyspark.sql.types import *

In [9]:
employees_df = spark.read.option("header","true").csv("employees.csv")

In [13]:
employees_df.show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+
only showing top 20 rows

**defining schema**

In [27]:
employees_df_schema = StructType([
    StructField("Emp_no", StringType(),nullable=True),
    StructField("Emp_name",StringType(),True),
    StructField("Salary",IntegerType(),True),
    StructField("Age",IntegerType(),True),
    StructField("Department",StringType(),True),
    ])

In [26]:
employees_df = spark.read.option("header","true").schema(employees_df_schema).csv("employees.csv")
employees_df.printSchema()

root
 |-- Emp_no: string (nullable = true)
 |-- Emp_name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

**creating temp view and using sparkql**

In [28]:
employees_df.createTempView("employees")

In [30]:
spark.sql("SELECT * FROM employees LIMIT 10").show()

+------+--------+------+---+----------+
|Emp_no|Emp_name|Salary|Age|Department|
+------+--------+------+---+----------+
|   198|  Donald|  2600| 29|        IT|
|   199| Douglas|  2600| 34|     Sales|
|   200|Jennifer|  4400| 36| Marketing|
|   201| Michael| 13000| 32|        IT|
|   202|     Pat|  6000| 39|        HR|
|   203|   Susan|  6500| 36| Marketing|
|   204| Hermann| 10000| 29|   Finance|
|   205| Shelley| 12008| 33|   Finance|
|   206| William|  8300| 37|        IT|
|   100|  Steven| 24000| 39|        IT|
+------+--------+------+---+----------+